<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: content">
<head>
    <title>Considering</title>
</head>
<body>
<h1 th:text="${listName}">Considering</h1>
<div class="doll-container">
    <div class="card" th:each="doll : ${dolls}">
        <img th:src="@{${doll.imageUrl}}" alt="Doll Image">
        <h2 th:text="${doll.name}">Doll Name</h2>
        <select>
            <option value="wishlist" th:selected="${doll.wishlist?.name == 'Wishlist'}">Wishlist</option>
            <option value="considering" th:selected="${doll.wishlist?.name == 'Considering'}">Considering</option>
            <option value="already-secured" th:selected="${doll.wishlist?.name == 'Already Secured'}">Already Secured</option>
        </select>
    </div>
</div>
</body>
</html>
